<html>

<head></head>

<body>
    <h1>What videogame are your favorite?</h1>
    <% for(let i =1; i <= 10; i++) { %>
        <li>
           <label for="videogames">
                Videogame <%= i %>
               <input type="text" name="videogames" id="">
           </label>
        </li>
     <% } %>
</body>

</html>